## Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md
name: Check

on:
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - rust-version: stable
            os: ubuntu-latest
          - rust-version: beta
            os: ubuntu-latest
          - rust-version: nightly
            os: ubuntu-latest
          # To test Linux version that does not default to the LLD linker
          - rust-version: 1.89.0
            os: ubuntu-latest
          - rust-version: stable
            os: windows-latest
          - rust-version: stable
            os: macos-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust-version }}
          components: clippy, rustfmt

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --workspace --all-targets

      - name: Run tests
        run: cargo test --workspace --all-targets

      - name: Lint
        run: cargo clippy --workspace --all-targets

      - name: Check Rust formatting
        run: cargo fmt --all -- --check
